html {
    background-color: #1b1d23;
    scroll-behavior:smooth;
    min-width: 640px;
}

.main_page {
    position: relative;
    
    .popup_bg {
        position: absolute;
        width: 100vw;
        height: 100%;
        background: black;
        opacity: 70%;
        z-index: 9;
    }
}
