.homePageMain {
    display: flex;
    justify-content: center;
    font-family: Open Sans;

    .homePage {
        width: 1366px;
        height: 100vh;
        display: flex;
        align-items: center;

        .nav {
            position: fixed;
            min-width: 100%;
            align-self: flex-start;
        }

        .mainBox {
            width: 100%;
            height: 650px;
            display: flex;
            background-color: #272c33;
            align-self: flex-end;
        }
    }
}
